.technologies{
    background-color: var(--portfolio-purple);
    font-size: 16px;
    height: 100vh;
    width: 100%;
    padding: 2rem 3rem;
}
.technologies h1{
    font-size: 2rem;
    color: var(--portfolio-white);
}