.technologies{
    position: relative;
    font-family: "Courier";
    background-color: var(--portfolio-purple);
    font-size: 16px;
}
.backgroundImageContainer{
    position: sticky;
    display: block;
    width: max-content;
    height: 100vh;
    top: 0;
    left: 0;
}
.backgroundImageContainer h2 {
    padding-top: 3rem;
    padding-left: 6rem;
    font-size: 4.5rem;
    color: var(--portfolio-white);
}

.backgroundImage{
    position: absolute;
    display: block;
    top: 17vh;
    left: 17vw;
    width: 66vw;
    height: 66vh;
    object-position: center center;
    overflow-clip-margin: content-box;
    overflow: clip;
}