.technologies{
    position: relative;
    font-family: "Courier";
    background-color: var(--portfolio-purple);
}
.backgroundImageContainer{
    position: sticky;
    display: block;
    width: max-content;
    height: 100vh;
    top: 0;
    left: 0;
}
.backgroundImageContainer h2 {
    padding-top: 3rem;
    padding-left: 4rem;
    font-size: 4.5rem;
    color: var(--portfolio-white);
}

.backgroundImage{
    position: absolute;
    display: block;
    top: 16vh;
    left: 14vw;
    width: 72vw;
    height: 68vh;
    object-position: center center;
    overflow-clip-margin: content-box;
    overflow: clip;
}