.socials{
    height: min-content;
    width: min-content;
    display: flex;
    justify-content: space-between;
    gap: 1.375rem;
    margin: 1.6875rem 0;
}
.socialContainer{
    height: max-content;
    width: max-content;
    background-color: white;
    border-radius: 50%;
}
.socialImage{
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
}