.profile {
    background-color: var(--portfolio-dark);
    position:relative;
    height: 100vh;
    width: 100%;
    padding: 2rem 3rem;
    overflow: visible;
    z-index: 2;
}
.infoPhotoContainer{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profilePhotoContainer{
    height: 100%;
    width: 47.5%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profilePhoto {
    width: 28vw;
    max-width: 34.375rem;
    border-radius: 50%;
}
.profileTechContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .profile {
        padding: 2rem 1rem;
    }
}
