.profileInfo {
    height: min-content;
    width: 100%;
    font-family: "Roboto";
    font-weight: 700;
    color: var(--portfolio-white);
}

.profileInfo .title {
    font-size: 4.5rem;
}

.profileInfo .info {
    font-size: 1.375rem;
    line-height: 1.6rem;
}

