.diagonal {
  position: relative;
  width: 100%;
  height: 10vw;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-5deg);
  background-color: #424242;
  z-index: 1;
}
.backgroundDiagonal {
  background: darkslateblue;
}