.main{
  background-color: var(--portfolio-purple-dark);
  width: 100%;
}
.diagonal {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: -1vw;
    justify-content: flex-end;
    align-items: flex-end;
    height: 10vw;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-5deg);
    background-color: var(--portfolio-dark);
    z-index: 1;
}
